<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">

    <div class="col-md-6">
      <div class="form-group">
        <div class="col-md-3">
          <label for="cedula">Cédula</label>
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" id="cedula" placeholder="Cédula" formControlName="cedula">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="col-md-3">
          <label for="archivo">Archivo</label>
        </div>
        <div class="col-md-3">
          <input type="file" id="archivo" (change)="onFileChange($event)" #fileInput>
          <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">Limpiar Archivo</button>
        </div>
      </div>
    </div>
  </div>

  <p></p>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <button type="submit" [disabled]="form.invalid || loading" class="btn btn-success">Submit
          <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
        </button>
      </div>
    </div>
  </div>
</form>